<div style="display: flex; flex-direction: column; max-height: 100%;">
  <div>
    <mat-toolbar style="position: sticky; background-color: #363636; color: white;">
      <mat-toolbar-row style="padding: 0px; display: flex; flex-direction: row;">
        <span style="margin: 0px 5px;">
          <button mat-icon-button style="color: white;" (click)="onHamburgerClick()">
            <i class="material-icons">menu</i>
          </button>
        </span>
        <span style="flex: 1; color:white;">
          <!-- {{ getToolbarTitle() }} -->

          I AM THE BONE OF MY SWORD
        </span>


        <button mat-icon-button class="button-navigation" style="float: right;" (click)="onSaveButtonClick(task)">
          <i class="material-icons">save</i>
        </button>


        <button mat-icon-button class="button-navigation" style="float: right;" (click)="onHideButtonClick()">
          <i class="material-icons">arrow_forward</i>
        </button>


        <span style="margin: 0px 5px;">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="button-navigation" style="float: right;">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            <button mat-menu-item (click)="deleteTask()">
              <i class="material-icons">&#xE872;</i>
              <span>Delete</span>
            </button>
          </mat-menu>

          <!-- <button *ngIf="activeTab$ == 0" mat-icon-button class="button-navigation" style="float: right;" (click)="onSaveButtonClick(task)">
                        <i class="material-icons">save</i>
                    </button> -->



        </span>


        <!-- <span style="margin: 0px 5px;">
                    <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" yPosition="below">
                        <button mat-menu-item>
                            <i class="material-icons">&#xE871;</i>
                            <span>Inside Menu</span>
                        </button>
                    </mat-menu>

                    <button mat-icon-button style="float: right;" (click)="openFilterDialog()" [style.background-color]="fs.isFilterActive$ ? '#FFFFFF' : 'transparent'"
                        [style.color]="fs.isFilterActive$ ? '#363636' : '#FFFFFF'">
                        <i class="material-icons">filter_list</i>
                    </button>
                </span> -->
      </mat-toolbar-row>
    </mat-toolbar>

  </div>

  <!-- <div class="grid-container">
  <div class="hint-width"> Window too small, please enlarge width dumbass </div>
  <div class="task-list">
    
  </div>
  <div id="backdrop" class="backdrop" (click)="onBackdropClick()">
     
  </div>
  <div id="task-detail" class="task-detail">TASKDETAIL</div>
</div> -->



  <div class="grid-container" syle="flex: 1;">

    <div class="hint-width"> Window too small, please enlarge width dumbass </div>
    <mat-sidenav-container class="main-content" style="background-color: transparent; width: 100%;">

      <mat-sidenav #sidenav mode="side" position="end" class="task-detail">
        <div id="task-detail" style="height: 100%; max-height: 100%; min-height: 100%;">
          <app-task #task></app-task>
        </div>
      </mat-sidenav>

      <!--main content-->
      <app-task-list></app-task-list>

    </mat-sidenav-container>
  </div>

</div>