
* {
    box-sizing: border-box;
}

.display-none{
    display: none;
}

.grid-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.grid-container > div.task-list {
    max-width: 100%;
}

.grid-container > div.task-detail {
    height: 100%;
    width: 480px;
    max-width: 480px;
    min-width: 480px;
}

  div.hint-width{
    display: none;
}

@media (max-width: 359px){
    div.hint-width{
        display: block;
        background-color: lightsalmon;
        width: 100%;
    }

    div.task-list {
        display: none;
    }

    div.task-detail {
        display: none;
    }
}

@media (min-width: 360px){
    div.side-nav {
        display: none;
    }
    div.task-list {
        display: block;
        background-color: lightcoral;
        flex: 1;
    }
    div.task-detail {
        display: none;
    }
}

@media (min-width: 600px) {
    div.side-nav {
        display: none;
    }
    div.task-list {
        display: block;
        background-color: lightcoral;
    }
    div.task-detail {
        display: block;
        position: absolute;
        right: 0;
        background-color: lightseagreen;
        z-index: 3;
    }
}

@media (min-width: 900px) {
    div.task-list {
        display: block;
        background-color: violet;
        width: calc(100% - 480px);
        max-width: calc(100% - 480px);
    }
    div.task-detail {
        position: initial;
        background-color: seagreen;
    }
}