.max-width > mat-form-field{
    width: 100%;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
}


button.submit-button{
    background-color: #363636; 
    color: #FFFFFF; 
    width: 48%; 
    box-sizing:border-box;
}

button.submit-button :disabled{
    background-color: #36363636;
    color: #FFFFFF !important;
}