<div *ngIf="task$ as task">

  <mat-accordion *ngIf="!isAddNewTask$">
    <mat-expansion-panel style="margin-bottom: 24px; margin-left: -24px; margin-right: -24px; margin-top:-24px;">
      <mat-expansion-panel-header style="padding: 24px; height: unset;">
        <mat-panel-title style="flex-direction: column;">
          <div>
            {{ ds.getBusinessUnit(task.business_unit).id }} > {{ ds.getDepartment(task.department).name }}
          </div>
          <div>
            <strong>{{task.title}}</strong>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="max-width" [formGroup]="formGroup$">
        <mat-form-field [floatLabel]="formGroup$.value.floatLabel">
          <mat-select formControlName="business_unit" placeholder="BU00" [(ngModel)]="task.business_unit">
            <mat-option *ngFor="let business of businessOptions$" [value]="business.id">
              {{ business.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="formGroup$.value.floatLabel">
          <mat-select formControlName="department" placeholder="Department" [(ngModel)]="task.department">
            <mat-option *ngFor="let department of departmentOptions$" [value]="department.id">
              {{ department.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="formGroup$.value.floatLabel">
          <mat-select formControlName="priority" placeholder="Priority" [(ngModel)]="task.priority">
            <mat-option *ngFor="let priority of priorityOptions$" [value]="priority.id">
              {{ priority.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="formGroup$.value.floatLabel">
          <input formControlName="title" matInput placeholder="Task Name" [(ngModel)]="task.title">
        </mat-form-field>
      </form>

    </mat-expansion-panel>
  </mat-accordion>

  <form class="max-width" [formGroup]="formGroup$" >

    <mat-form-field *ngIf="isAddNewTask$" [floatLabel]="formGroup$.value.floatLabel">
      <mat-select formControlName="business_unit" placeholder="BU00" [(ngModel)]="task.business_unit" required>
        <mat-option *ngFor="let business of businessOptions$" [value]="business.id">
          {{ business.id }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControl$.hasError('required')">Please choose a Business Unit</mat-error> -->
    </mat-form-field>

    <mat-form-field *ngIf="isAddNewTask$" [floatLabel]="formGroup$.value.floatLabel">
      <mat-select formControlName="department" placeholder="Department" [(ngModel)]="task.department" required>
        <mat-option *ngFor="let department of departmentOptions$" [value]="department.id">
          {{ department.name }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formGroup$.value.department.hasError('required')">Please choose a Department</mat-error> -->
    </mat-form-field>

    <mat-form-field *ngIf="isAddNewTask$" [floatLabel]="formGroup$.value.floatLabel">
      <mat-select formControlName="priority" placeholder="Priority" [(ngModel)]="task.priority" required>
        <mat-option *ngFor="let priority of priorityOptions$" [value]="priority.id">
          {{ priority.name }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControl$.hasError('required')">Please choose a Priority</mat-error> -->
    </mat-form-field>

    <mat-form-field *ngIf="isAddNewTask$" [floatLabel]="formGroup$.value.floatLabel">
      <input matInput formControlName="title" placeholder="Task Name" [(ngModel)]="task.title" required>
      <!-- <mat-error *ngIf="formControl$.hasError('required')">Please give a Task Name</mat-error> -->
    </mat-form-field>

    <mat-form-field [floatLabel]="formGroup$.value.floatLabel">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"  placeholder="Description"
      formControlName="description" [(ngModel)]="task.description"></textarea>
    </mat-form-field>

    <mat-form-field [floatLabel]="formGroup$.value.floatLabel">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let fruit of fruits" selectable="true" removable="true" (remove)="removeTag(fruit)">
          {{fruit.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
          (matChipInputTokenEnd)="addTag($event)" />
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field *ngIf="!isAddNewTask$" [floatLabel]="formGroup$.value.floatLabel">
      <mat-select formControlName="status" placeholder="Status" [(ngModel)]="task.status" >
        <mat-option *ngFor="let status of statusOptions$" [(value)]="status.id">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>