<div *ngIf="task$ as task">

  <mat-accordion *ngIf="!isAddNewTask$">
    <mat-expansion-panel style="margin-bottom: 24px; margin-left: -24px; margin-right: -24px; margin-top:-24px; background:#ffffffaa;">
      <mat-expansion-panel-header style="padding: 24px; height: unset; background: transparent;">
        <mat-panel-title style="flex-direction: column; margin: 0px;">
          <div style="margin-bottom: 6px;">
              <span>
                  <span [ngStyle]="{'background-color': ds.getBusinessUnit(task.business_unit).color }" style="color: white; padding: 2px 4px; font-size: 11px; font-weight: bold;">
                    {{ ds.getBusinessUnit(task.business_unit).id }}
                  </span>
                  <span style="margin-right: 4px;"></span>
                  <span [ngStyle]="{'background-color': ds.getDepartment(task.department).color }" 
                    style="color: white; padding: 2px 4px; font-size: 11px; font-weight: bold; text-transform:uppercase; margin-right: 4px;">
                    {{ ds.getDepartment(task.department).name }}
                  </span>
                  <span [ngStyle]="{'background-color': ds.getPriority(task.priority).color }" style="color: white; padding: 2px 4px; font-size: 11px; font-weight: bold; text-transform: uppercase;">
                      {{ ds.getPriority(task.priority).name }}
                    </span>
                </span> 
                <span style="float: right;">
                  
                  <!-- <span style="margin-right: 4px;"></span>
                  <span [ngStyle]="{'background-color': getChipColor(task, 'dept') }" style="color: white; padding: 2px 4px; font-size: 11px; font-weight: bold; text-transform:uppercase;">
                    {{ task.status }}
                  </span> -->
                </span>
          </div>
          <div>
            <strong>{{task.title}}</strong>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="max-width">
        <mat-form-field [floatLabel]="auto">
          <mat-select name="business_unit" placeholder="BU00" [(ngModel)]="task.business_unit">
            <mat-option *ngFor="let business of businessOptions$" [value]="business.id">
              {{ business.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="auto">
          <mat-select name="department" placeholder="Department" [(ngModel)]="task.department">
            <mat-option *ngFor="let department of departmentOptions$" [value]="department.id">
              {{ department.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="auto">
          <mat-select name="priority" placeholder="Priority" [(ngModel)]="task.priority">
            <mat-option *ngFor="let priority of priorityOptions$" [value]="priority.id">
              {{ priority.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="auto">
          <input name="title" matInput placeholder="Task Name" [(ngModel)]="task.title">
        </mat-form-field>
      </form>

    </mat-expansion-panel>
  </mat-accordion>

  <form class="max-width" [formGroup]="formGroup$">

    <mat-form-field *ngIf="isAddNewTask$" [floatLabel]="auto">
      <mat-select formControlName="business_unit" placeholder="BU00" [(ngModel)]="task.business_unit" required>
        <mat-option *ngFor="let business of businessOptions$" [value]="business.id">
          {{ business.id }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formGroup$.controls['business_unit'].hasError('required')">Please choose a Business Unit</mat-error> -->
    </mat-form-field>

    <mat-form-field *ngIf="isAddNewTask$" [floatLabel]="auto">
      <mat-select formControlName="department" placeholder="Department" [(ngModel)]="task.department" required>
        <mat-option *ngFor="let department of departmentOptions$" [value]="department.id">
          {{ department.name }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formGroup$.controls['department'].hasError('required')">Please choose a Department</mat-error> -->
    </mat-form-field>

    <mat-form-field *ngIf="isAddNewTask$" [floatLabel]="auto">
      <mat-select formControlName="priority" placeholder="Priority" [(ngModel)]="task.priority" required>
        <mat-option *ngFor="let priority of priorityOptions$" [value]="priority.id">
          {{ priority.name }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formGroup$.controls['priority'].hasError('required')">Please choose a Priority</mat-error> -->
    </mat-form-field>

    <mat-form-field *ngIf="isAddNewTask$" [floatLabel]="auto">
      <input matInput formControlName="title" placeholder="Task Name" [(ngModel)]="task.title" autocomplete="off" required>
      <!-- <mat-error *ngIf="formGroup$.controls['title'].hasError('required')">Please give a Task Name</mat-error> -->
    </mat-form-field>

    <mat-form-field [floatLabel]="auto">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="1" placeholder="Description" formControlName="description"
        [(ngModel)]="task.description"></textarea>
    </mat-form-field>

    <mat-form-field [floatLabel]="auto">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let fruit of fruits" selectable="true" removable="true" (remove)="removeTag(fruit)">
          {{fruit.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
          (matChipInputTokenEnd)="addTag($event)" />
      </mat-chip-list>
    </mat-form-field>

    <div *ngIf="!isAddNewTask$" style="display: flex; flex-direction: row;">
        
      <div style="flex: 1;">
            <mat-form-field  [floatLabel]="auto" style="width: 100%; min-width: 100px;">
                <mat-select formControlName="status" placeholder="Status" [(ngModel)]="task.status">
                  <mat-option *ngFor="let status of statusOptions$" [(value)]="status.id">
                    {{ status.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div *ngIf="task.status == 'status_0' || task.status == 'status_1'" style="flex: 1;">
            <button mat-button *ngIf="task.status === 'status_0'" style="height: 40px !important; background-color: #ffffffcc; width: 90%; margin-left: 10%"
            (click)="task.status = 'status_1'">
                <span> 
                    <i class="material-icons" style="vertical-align: middle; margin-top: -4px; color: #696969;">play_circle_filled</i>
                  Start
                </span>
              </button>  
                <button mat-button *ngIf="task.status === 'status_1'" style="height: 40px !important; background-color: #ffffffcc; width: 90%; margin-left: 10%"
                (click)="task.status = 'status_2'">
                    <span>
                        <i class="material-icons" style="vertical-align: middle; margin-top: -4px; color: #696969;">check_box</i>
                        Completed
                    </span>
                  </button>
        </div>
    </div>


    <div *ngIf="isAddNewTask$">
      <button mat-raised-button class="submit-button" type="submit" (click)="onCreateClick()"> Create </button>
      <button mat-button style="background-color: #F0F0F0; width: 48%; box-sizing:border-box; float: right;" type="cancel" (click)="onCancelClick()">Cancel</button>
    </div>

  </form>
</div>