.task-title{
    color:white;
    margin-left: 15px;
    margin-top: 25px;
}

.background-image-hero{
    background-image: url('https://img00.deviantart.net/c09e/i/2009/023/d/0/item_1__broken_chair_by_myststock.jpg');
    height: 300px;
    margin: -15px -15px 0px -15px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

.background-transparent-gradient-dark{
    background: linear-gradient(to bottom, #36363600, #363636AA, #363636FF);
}

.align-content-bottom{
    position: relative;
}

.align-content-bottom > div{
    position: absolute;
    bottom: 0;
}

.mui-tabs__bar > li > a{
    color: whitesmoke;
}
.mui-tabs__bar > li.mui--is-active {
    border-bottom: 4px solid white;
}
.mui-tabs__bar > li.mui--is-active > a {
    color: white;
    font-weight: bold;
}

.task-properties {
    margin: 10px 0px 10px 0px;
    color: #757575;
    display: inline-block;
    vertical-align: middle;
}

.task-icon{
    margin: 0px 10px 0px 10px;
    display: inline-block;
    vertical-align: middle;
}

.task-properties-text{
    display: inline-block;
    vertical-align: middle;
}

.mui-select{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-top: 0px;
    margin-bottom: 0px;
}

.mui-select > select{
    font-size: 14px;
    display: block;
    width: 100%;
    outline: 0;
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
}


