<div *ngIf="task$ | async as task" style=" display: flex; flex-direction:column; height: 100%; max-height: 100%;">

  <div style="flex: 1 1 auto; display: flex; flex-direction: column;">

    <mat-tab-group id="task" [(selectedIndex)]="activeTab$" (selectedTabChange)="selectedTabChange()">
    <!-- <mat-tab-group id="task" (selectedTabChange)="selectedTab=$event.index"  (swipeleft)="onSwipe($event)" (swiperight)="onSwipe($event)"> -->

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE871;</i>
        </ng-template>
        <div *ngIf="activeTab$ === 0" style="padding: 24px; display: flex; flex-direction: column;" (swipeleft)="onSwipe($event)"
          (swiperight)="onSwipe($event)">
          <app-task-overview [task$]="task" style="flex: 1; height: 100%;"></app-task-overview>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE0B7;</i>
          <span style="margin-left: 4px;">{{ getCommentsLength() }}</span>
        </ng-template>
        <div *ngIf="activeTab$ === 1" (swipeleft)="onSwipe($event)" (swiperight)="onSwipe($event)" style="display: flex; flex-direction: column;">
          <app-task-chat [taskID$]="taskID$" style="flex: 1; height: 100%;"></app-task-chat>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE226;</i>
          <span>{{ getAttachmentsLength() }}</span>
        </ng-template>
        <div *ngIf="activeTab$ === 2" (swipeleft)="onSwipe($event)" (swiperight)="onSwipe($event)" style="display: flex; flex-direction: column;">
          <app-task-attachment [task$]="task" [taskID$]="taskID$" style="flex: 1; height: 100%;"></app-task-attachment>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE8B3;</i>
        </ng-template>
        <div *ngIf="activeTab$ === 3" (swipeleft)="onSwipe($event)" (swiperight)="onSwipe($event)" style="display: flex; flex-direction: column;">
          History
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>