.task-title{
    color:white;
    margin-left: 30px;
    margin-top: 25px;
}

.navigation-panel{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 48px;
}

.button-navigation{
    background: transparent;
    color: white;
    border-width: 0px 0px 0px 0px;
    height: 48px;
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    padding: 0px;
}

.background-image-hero{
    background-image: url('https://img00.deviantart.net/c09e/i/2009/023/d/0/item_1__broken_chair_by_myststock.jpg');
    height: 200px;
    width: inherit;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    position: relative;
    display: block;
}

div.background-transparent-gradient-dark{
    background: linear-gradient(to bottom, #36363655, #36363633,  #363636AA, #363636FF);
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

p.task-subtitle {
    color: white;
    margin: 10px 10px 0px 10px;
    text-align: left;
    height: 28px;
    width: inherit;
    font-size: 16px;
    font-weight: bold;
    font: 700 16px/28px Roboto,"Helvetica Neue",sans-serif;
}

p.task-title {
    color: white;
    font-size: 22px;
    margin: 0px 10px 10px 10px;
    text-align: left;
    word-wrap: break-word;
    width: inherit;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

mat-toolbar-row.mat-toolbar-row{
    padding: 0px;

}



