<div class="background-image-hero
            align-content-bottom">
  <div class="background-transparent-gradient-dark
            ">
      <div>
          <div class="mui--text-title task-title">
            {{ (task | async)?.title }}
          </div>
      
          <ul class="mui-tabs__bar 
                             mui-tabs__bar--justified
                             foreground-white">
            <li class="mui--is-active">
              <a data-mui-toggle="tab" data-mui-controls="pane-default-1">
                OVERVIEW
              </a>
            </li>
            <li>
              <a data-mui-toggle="tab" data-mui-controls="pane-default-2">
                CONVERSATION
              </a>
            </li>
            <li>
              <a data-mui-toggle="tab" data-mui-controls="pane-default-3">
                ATTACHMENTS
              </a>
            </li>
          </ul>
        </div>
  </div>
</div>

<div class="mui-tabs__pane mui--is-active" id="pane-default-1">
  <div class="task-properties">
    <div>
      <i id="icon-status" class="material-icons task-icon">&#xE835;</i>
      <div class="mui-select">
          <select [(ngModel)]="task.status"
                  (change)="setStatusIcon(task.status)" >
            <option selected>Not Started</option>
            <option>In Progress</option>
            <option>Pending</option>
            <option>Completed</option>
          </select>
        </div>  
    </div>
  </div>
  <div class="mui-divider"></div>
  <div class="task-properties">
    <div>
      <i class="material-icons task-icon">&#xE8F9;</i>
      <div class="task-properties-text">
        business-unit
      </div>
    </div>
  </div>
  <div class="mui-divider"></div>
  <div class="task-properties">
    <div>
      <i class="material-icons task-icon">&#xE893;</i>
      <div class="task-properties-text">
        tags
      </div>
    </div>
  </div>
  <div class="mui-divider"></div>
  <div class="task-properties">
    <div>
      <i class="material-icons task-icon">&#xE8A6;</i>
      <div class="task-properties-text">
        assigned-to
      </div>
    </div>
  </div>
  <div class="mui-divider"></div>
  <div class="task-properties">
    <div>
      <i class="material-icons task-icon">&#xE916;</i>
      <div class="task-properties-text">
        date-created
      </div>
    </div>
  </div>
  <div class="mui-divider"></div>
  <div class="task-properties">
    <div>
      <i class="material-icons task-icon">&#xE002;</i>
      <div class="task-properties-text">
        priority
      </div>
    </div>
  </div>
  <div class="mui-divider"></div>
  <div class="task-properties">
    <div>
      <i class="material-icons task-icon">&#xE8D2;</i>
      <div class="task-properties-text">
          description
        </div>
    </div>
  </div>
</div>
<div class="mui-tabs__pane" id="pane-default-2">
  <h1>Conversation</h1>
</div>
<div class="mui-tabs__pane" id="pane-default-3">
  <h1>Attachment</h1>
</div>