mat-drawer-container {
    height: 100%;
}

.hamburger{
    padding: 0;
}

.hamburger-inner::before, .hamburger-inner, .hamburger-inner::after {
    margin: 0;
    /* width: 10px;
    height: 2px; */

    background-color: white;
}

.button-navigation{
    background: transparent;
    color: white;
    border-width: 0px 0px 0px 0px;
    height: 48px;
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    padding: 0px;
}
