<script>
  jQuery(function ($) {
    var $bodyEl = $('body'),
      $sidedrawerEl = $('#sidedrawer');
    function showSidedrawer() {
      // show overlay
      var options = {
        onclose: function () {
          $sidedrawerEl
            .removeClass('active')
            .appendTo(document.body);
        }
      };
      var $overlayEl = $(mui.overlay('on', options));
      // show element
      $sidedrawerEl.appendTo($overlayEl);
      setTimeout(function () {
        $sidedrawerEl.addClass('active');
      }, 20);
    }
    function hideSidedrawer() {
      $bodyEl.toggleClass('hide-sidedrawer');
    }
    $('.js-show-sidedrawer').on('click', showSidedrawer);
    $('.js-hide-sidedrawer').on('click', hideSidedrawer);
  });
  var $titleEls = $('strong', $sidedrawerEl);
  $titleEls
    .next()
    .hide();
  $titleEls.on('click', function () {
    $(this).next().slideToggle(200);
  });
</script>

<div class="mui-appbar">
  delete this later
</div>

<!-- content -->
<div class="mui-container">
  <div id="sidedrawer" class="mui--no-user-select">
    <!-- Side drawer content goes here -->

    <!-- Sidebar user profile -->
    <div class="mui-container">
      <div *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</div>


      <button class="login-btn mui-btn mui-btn--primary mui-btn--small" (click)="logout()" *ngIf="authService.user | async">
        <div class="login-txt">Logout</div>
      </button>


      <div *ngIf="!(authService.user | async)">

        <div class="mui-textfield mui-textfield--float-label">
          <input type="text" [(ngModel)]="email">
          <label>Email</label>
        </div>

        <div class="mui-textfield mui-textfield--float-label">
          <input type="password" [(ngModel)]="password">
          <label>Password</label>
        </div>

        <button class="login-btn mui-btn mui-btn--primary mui-btn--small" (click)="login()" [disabled]="!email || !password">
          <div class="login-txt">Login</div>
        </button>

        <button class="login-btn mui-btn mui-btn--primary mui-btn--small" (click)="signup()" [disabled]="!email || !password">
          <div class="login-txt">Signup</div>
        </button>


      </div>

    </div>

    <!-- Sidebar items -->

    <div class="mui-divider"></div>
    <div>
      <div class="menu-text">
        <i class="material-icons menu-icon">&#xE88A;</i>
        <div class="menu-text"> Home </div>
      </div>
    </div>

    <div class="mui-divider"></div>
    <div>
      <div class="menu-text">
        <i class="material-icons menu-icon">&#xE85E;</i>
        <div class="menu-text"> My Tasks </div>
      </div>
    </div>

    <div class="mui-divider"></div>
    <div>
      <div class="menu-text">
        <i class="material-icons menu-icon">&#xE89C;</i>
        <div class="menu-text"> Create Tasks </div>
      </div>
    </div>

    <div class="mui-divider"></div>
    <div>
      <div class="menu-text">
        <i class="material-icons menu-icon">&#xE85A;</i>
        <div class="menu-text"> Announcements </div>
      </div>
    </div>

  </div>
  <header id="header">
    <div class="mui-appbar mui--appbar-line-height">
      <div class="mui-container-fluid">
        <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
        <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
        <span class="mui--text-title mui--visible-xs-inline-block">Brand.io</span>
      </div>
    </div>
  </header>
  <div>
    <!-- Main content goes here -->
    <router-outlet></router-outlet>

  </div>
  <footer id="footer">
    <div class="mui-container-fluid">
      <br> Made with ♥ by
      <a href="https://www.muicss.com">MUI</a>
    </div>
  </footer>
</div>