<div style="height: 100%; box-sizing: border-box; background: red;">
  <!-- <div *ngFor="let url of task$.attachment_URL">
  <img [src]="url">
</div> -->
<div style="padding: 5px; background-color: white; height: 100%; box-sizing: border-box; ">
  <mat-grid-list *ngIf="getDownloadURL().length > 0" cols="3" rowHeight="1:1" style="background-color: white; ">
    <div *ngFor="let URL of getDownloadURL()">
      <mat-grid-tile *ngIf="URL != null">
        <div style="height: 100%; width: 100%; overflow: hidden;">
          <img [src]="URL" style="padding: 2px; object-fit:cover; overflow:hidden; box-sizing:border-box; height: 100%; width: 100%;"
            (click)="onImgClick(URL)">
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <div *ngIf="getDownloadURL().length == 0">
    null lul. TODO: Add splash screen 'no attachment, click FAB to upload new file'. Add splash screen for task-comment too.
  </div>
</div>

<input #inputFile id="inputFile" type="file" accept="image/*" style="visibility: collapse;" (change)="onInputFileChange()" multiple>

<button mat-fab (click)="inputFile.click()" 
style="background-color: #E2E2E2;; position: fixed; top: auto; left: auto; right: 20px; bottom: 20px; z-index: 9;">
  <i class="material-icons" style="color: #363636;">file_upload</i>
</button>
</div>