<div *ngIf="ds.getBusinessUnitArray() != null" style="height: 100%; width: 100%; display: flex; flex-direction: column;">

  <!-- <mat-toolbar style="background-color: transparent; color: white; z-index: 1;">
    <mat-toolbar-row style="padding: 0px; display: flex; flex-direction: row;">
      <span style="margin: 0px 5px;">
        <button mat-icon-button style="color: white;" (click)="onHamburgerClick()">
          <i class="material-icons">menu</i>
        </button>
      </span>
      <span style="flex: 1; color:white;">
        {{ getToolbarTitle() }}
      </span>
      <span style="margin: 0px 5px;">
        <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" yPosition="below">
          <button mat-menu-item>
            <i class="material-icons">&#xE871;</i>
            <span>Inside Menu</span>
          </button>
        </mat-menu>

        <button mat-icon-button style="float: right;" (click)="openFilterDialog()" [style.background-color]="fs.isFilterActive$ ? '#FFFFFF' : 'transparent'"
          [style.color]="fs.isFilterActive$ ? '#363636' : '#FFFFFF'">
          <i class="material-icons">filter_list</i>
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar> -->

  <div class="mobile-view">
    <mat-tab-group [(selectedIndex)]="activeTab$" (selectedTabChange)="selectedTabChange()" style="height: 100%;">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE835;</i>
        </ng-template>
        <div *ngIf="activeTab$ == 0" (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)">
          <div *ngFor="let task of taskList$_status_0 | async">
            <app-task-card [task$]="task"></app-task-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE871;</i>
        </ng-template>
        <div *ngIf="activeTab$ == 1" (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)">
          <div *ngFor="let task of taskList$_status_1 | async">
            <app-task-card [task$]="task"></app-task-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE834;</i>
        </ng-template>
        <div *ngIf="activeTab$ == 2" (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)">
          <div *ngFor="let task of taskList$_status_2 | async">
            <app-task-card [task$]="task"></app-task-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE034;</i>
        </ng-template>
        <div *ngIf="activeTab$ == 3" (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)">
          <div *ngFor="let task of taskList$_status_3 | async">
            <app-task-card [task$]="task"></app-task-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="desktop-view">
    <div class="flex-container">
      <div>
        <div>
          NOT STARTED
        </div>
        <div class="card-container">
          <div *ngFor="let task of taskList$_status_0 | async">
            <app-task-card [task$]="task"></app-task-card>
          </div>
        </div>
      </div>
      <div>

        <div>
          IN PROGRESS
        </div>
        <div class="card-container">
            <div *ngFor="let task of taskList$_status_1 | async">
              <app-task-card [task$]="task"></app-task-card>
            </div>
          </div>
      </div>
      <div>
        <div>
          COMPLETED
        </div>
        <div class="card-container">
            <div *ngFor="let task of taskList$_status_2 | async">
              <app-task-card [task$]="task"></app-task-card>
            </div>
          </div>
      </div>
      <div>
        <div>
          PENDING
        </div>
        <div class="card-container">
            <div *ngFor="let task of taskList$_status_3 | async">
              <app-task-card [task$]="task"></app-task-card>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>

<button mat-fab (click)="openNewTaskDialog()" class="mat-fab-new-task">
  <i class="material-icons" style="color: #FFFFFF">
    &#xE145;
  </i>
</button>