<div style="height: calc(100% - 56px); width: 100%; display: flex; flex-direction: column;">


  <div style="flex: 1; height: calc(100% - 56px);">
    <mat-tab-group (selectedTabChange)="ns.setTitle(getToolbarTitle())"  [(selectedIndex)]="activeTab$" style="height: 100%;">
      <mat-tab >
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE835;</i>
        </ng-template>
        <div (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)">
          <app-task-card [filterProperty$]="'status'" [filterString$]="'status_0'"></app-task-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE871;</i>
        </ng-template>
        <div (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)">
          <app-task-card [filterProperty$]="'status'" [filterString$]="'status_1'"></app-task-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE834;</i>
        </ng-template>
        <div (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)">
          <app-task-card [filterProperty$]="'status'" [filterString$]="'status_2'"></app-task-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons">&#xE034;</i>
        </ng-template>
        <div (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)">
          <app-task-card [filterProperty$]="'status'" [filterString$]="'status_3'"></app-task-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<button mat-fab (click)="openNewTaskDialog()"
        style="background-color: #363636; position: fixed; top: auto; left: auto; right: 20px; bottom: 20px; z-index: 9;">
  <i class="material-icons" style="color: #FFFFFF">
    &#xE145;
  </i>
</button>