<ul class="mui-tabs__bar">
  <li class="mui--is-active">
    <a data-mui-toggle="tab" data-mui-controls="pane-default-1">Tab-1</a>
  </li>
  <li>
    <a data-mui-toggle="tab" data-mui-controls="pane-default-2">Tab-2</a>
  </li>
  <li>
    <a data-mui-toggle="tab" data-mui-controls="pane-default-3">Tab-3</a>
  </li>
</ul>
<div class="mui-tabs__pane mui--is-active" id="pane-default-1">Pane-1</div>
<div class="mui-tabs__pane" id="pane-default-2">Pane-2</div>
<div class="mui-tabs__pane" id="pane-default-3">Pane-3</div>

<div class="mui-panel" *ngFor="let task of tasks | async">

  <div class="mui-container-fluid">

    <div class="mui-row">
      <div class="mui-col-md-12">
        <div class="mui--text-title">
          <a routerLink="/tasks/{{task.key}}">{{task.title}}</a>
        </div>
        <div class="mui-divider"></div>
      </div>
    </div>

    <div class="mui-row">
      <div class="mui-col-md-12">
        <div class="mui--text-body2">{{task.description}}</div>
      </div>
    </div>

    <div class="mui-row">
      <div class="mui-col-md-12">
        <div class="mui--text-caption" *ngFor="let tag of task.tags">
          {{tag}}
        </div>
      </div>
    </div>

    <div class="mui-row">
      <div class="mui-col-md-2 mui-col-md-offset-10">
        <button class="mui-btn mui-btn--flat mui-btn--danger del-btn" (click)="deleteTask(task.key)">
          <i class="material-icons">&#xE872;</i>
        </button>
      </div>
    </div>

  </div>

</div>