.del-btn {
    float: right;
}

button.mat-fab-new-task{
    background-color: #363636 !important; 
    margin-right: 20px;
    margin-top: -80px; 
    float: right;
    z-index: 9;
}

button#filter.filter-button :active{
    background-color: #36363636;
    color: white;
}

.filter-dialog{
    width: 100%;
    max-width: 100px;
    position: fixed !important;
    top: 56px;
}

.transparent-backdrop{
    opacity: 0;
}

mat-dialog-container.mat-dialog-container{
    margin: 0px;
    background-color: white;
}
@media (max-width: 600px){
    div.mobile-view {
        display: block;
        flex: 1; height: 
        calc(100% - 64px);
    }
    div.desktop-view {
        display: none;
    }
}

@media (min-width: 600px) {
    div.mobile-view {
        display: none;
    }
    div.desktop-view {
        display: block;
        width: 100%;
        height: calc(100% - 64px);
    }
}

div.flex-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

div.flex-container > div {
    min-width: 360px;
    max-width: 360px;
    flex: 1 0 0;
    padding: 10px;
    height: inherit;
    display: flex;
    flex-direction: column;
}

div.card-container{
    flex: 1 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
