<div style="height: 300px; display:flex; flex-direction: column; background-color: white;">

  <p class="roboto-font" style="font-weight: bold; margin-bottom: 8 px;">Filter Options :</p>

  <mat-form-field>
    <mat-select placeholder="BU00" [(ngModel)]="fs.filterBusinessUnit$" (selectionChange)="fs.emitChange('filterProperty')" multiple>
      <mat-option *ngFor="let business of businessOptions$" [value]="business.id">
        {{ business.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Department" [(ngModel)]="fs.filterDepartment$" (selectionChange)="fs.emitChange('filterProperty')"
      multiple>
      <mat-option *ngFor="let department of departmentOptions$" [value]="department.id">
        {{ department.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Priority" [(ngModel)]="fs.filterPriority$" (selectionChange)="fs.emitChange('filterProperty')" multiple>
      <mat-option *ngFor="let priority of priorityOptions$" [value]="priority.id">
        {{ priority.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title / Tag" [(ngModel)]="fs.filterTitle$">
  </mat-form-field>
  <div style="display: flex; flex-direction: row; width: 100%;">
    <button mat-button (click)="onFilterToggleClick()" [style.background-color]="fs.isFilterActive$ ? '#36363611' : '#363636'"
    style="flex: 1; margin-right: 5px;"
      [style.color]="fs.isFilterActive$ ? '#363636' : '#FFFFFF'" [innerHTML]="fs.isFilterActive$ ? 'Turn Off' : 'Turn On'"></button>
    <button mat-button (click)="onResetClick()" style="flex: 1; margin-left: 5px; background-color: #36363611;">
      Reset
    </button>
  </div>
</div>