<h2 mat-dialog-title >ADD NEW TASK</h2>
<mat-dialog-content>

<app-task-overview #taskOverview [task$]="newTask" [isAddNewTask$]="true"></app-task-overview>

</mat-dialog-content>
<mat-dialog-actions>

  <button mat-raised-button style="background-color: #363636; color: #FFFFFF; width: 48%; box-sizing:border-box;" type="submit" (click)="createTask(newTask)">Create</button>
  <button mat-button style="background-color: #F0F0F0; width: 48%; box-sizing:border-box; float: right;" type="cancel" (click)="onNoClick()">Cancel</button>

</mat-dialog-actions>