<h2 mat-dialog-title >ADD NEW TASK</h2>
<mat-dialog-content>

<app-task-overview #taskOverview [task$]="newTask" [isAddNewTask$]="true"
(onCreateClickEvent)="createTask(newTask)"
(onCancelClickEvent)="onNoClick()"
></app-task-overview>

</mat-dialog-content>

<!-- moved to task-overview.component.html

  <mat-dialog-actions>

  <button mat-raised-button class="submit-button" type="submit" (click)="createTask(newTask)"
  [disabled]="isSubmitDisabled$">Create</button>
  <button mat-button style="background-color: #F0F0F0; width: 48%; box-sizing:border-box; float: right;" type="cancel" (click)="onNoClick()">Cancel</button> 

</mat-dialog-actions>

-->
