<div class="mui-panel">

  <form class="mui-form">
    <legend> New Task </legend>
    <div class="mui-textfield mui-textfield--float-label">
      <input type="text">
      <label>Input 1</label>
    </div>
    <div class="mui-select">
      <select>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
      </select>
      <label>Select Example</label>
    </div>
    <div class="mui-select">
      <select>
        <optgroup label="Group 1">
          <option>Option 1</option>
          <option>Option 2</option>
        </optgroup>
        <optgroup label="Group 2">
          <option>Option 3</option>
          <option>Option 4</option>
        </optgroup>
      </select>
      <label>Optgroups Example</label>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
  </form>

</div>