<div style="display: flex; flex-direction: column; height: 100%">
  <div *ngIf="(authService.user | async) as user" style="background-color: #363636; padding: 20px;">

    <div>
      <button mat-fab [matMenuTriggerFor]="menu" style="margin: 10px 0px;">
        <i class="material-icons">face</i>
      </button>
      <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item (click)="logout()">
          <i class="material-icons">settings_power</i>
          <span>Sign out</span>
        </button>
      </mat-menu>

      <div *ngIf="authService.userSetting$ != null" class="child-float-right" style="float: right;">
        <div>BU00</div>
        <div>
          <span *ngFor="let bu00 of authService.userSetting$.business_units">
            {{ bu00 }}
          </span>
        </div>
          <div>DEPARTMENT</div>
          <div>
            <span *ngFor="let department of authService.userSetting$.departments">
              {{ department }}
            </span>
          </div>
      </div>

    </div>
    <p style="color: white;">{{ user.email }}</p>
  </div>

  <div style="flex: 1; position: relative;">
    <button mat-menu-item class="drawer-button">
      <i class="material-icons">check_box</i>
      <span style="margin: 0px 0px 0px 10px;">Task</span>
    </button>
    <button mat-menu-item class="drawer-button">
        <i class="material-icons">markunread</i>
      <span>News</span>
    </button>
    <button mat-menu-item class="drawer-button">
        <i class="material-icons">archive</i>
      <span>Archive</span>
    </button>
    

    <div style="position: absolute; bottom: 0px;">
        <button mat-menu-item  class="drawer-button">
            <i class="material-icons">settings</i>
          <span>Settings</span>
        </button>
        <button mat-menu-item class="drawer-button">
            <i class="material-icons">help</i>
            <span>Help & feedback</span>
          </button>
    </div>

  </div>

</div>