<div style="display: flex; flex-direction: column; height: 100%">
  <div *ngIf="(authService.user | async) as user" style="background-color: #363636; padding: 20px;">

    <div>
      <!-- <button mat-fab [matMenuTriggerFor]="menu" style="margin: 10px 0px;">
        <i class="material-icons">face</i>
      </button>
      <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item (click)="logout()">
          <i class="material-icons">settings_power</i>
          <span>Sign out</span>
        </button>
      </mat-menu> -->

      <i class="material-icons">face</i>




    </div>
    <p style="color: white;">{{ user.email }}</p>


    <div *ngIf="ds.userSetting$ != null">
      <div>
        <span *ngFor="let bu00 of ds.userSetting$.business_units">
          <span *ngIf="ds.getBusinessUnit(bu00) != null" [ngStyle]="{'background-color': ds.getBusinessUnit(bu00).color }" style="color: white; padding: 2px 4px; font-size: 11px; font-weight: bold; margin-right: 5px;">
            {{ bu00 }}
          </span>
          <span style="margin-right: 4px;"></span>
        </span>
      </div>
      <!-- <br> -->
      <div>
        <span *ngFor="let department of ds.userSetting$.departments">
          <span *ngIf="ds.getDepartment(department) != null" [ngStyle]="{'background-color': ds.getDepartment(department).color }"
            style="color: white; padding: 2px 4px; font-size: 11px; font-weight: bold; text-transform:uppercase; margin-right: 5px;">
            {{ department }}
          </span>
          <span style="margin-right: 4px;"></span>
        </span>
      </div>

    </div>
  </div>

  <div style="flex: 1; position: relative;">

      <button mat-menu-item class="drawer-button" style="position: absolute; bottom: 0px;">
        <i class="material-icons">settings_power</i>
        <span>Sign out</span>
      </button>


    <!-- <button mat-menu-item class="drawer-button">
      <i class="material-icons">check_box</i>
      <span style="margin: 0px 0px 0px 10px;">Task</span>
    </button>
    <button mat-menu-item class="drawer-button">
      <i class="material-icons">markunread</i>
      <span>News</span>
    </button>
    <button mat-menu-item class="drawer-button">
      <i class="material-icons">archive</i>
      <span>Archive</span>
    </button> -->


    <!-- <div style="position: absolute; bottom: 0px;">
      <button mat-menu-item class="drawer-button">
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </button>
      <button mat-menu-item class="drawer-button">
        <i class="material-icons">help</i>
        <span>Help & feedback</span>
      </button>
    </div> -->

  </div>

</div>