<!-- <mat-card>
  <mat-card-header>
    <mat-card-title style="width: 100%;">
      <span class="chat-name">
        {{post$.sender}}
      </span>
      <span class="chat-date">
        {{post$.time_sent}}
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{post$.message}}
    </p>
  </mat-card-content>
</mat-card> -->
<div class="comment-container">
  <div style="display: flex; flex-direction: row; width: 100%;">  
      <span class="chat-name" style="flex: 1;">
          {{post$.sender}}
        </span>
        <span class="chat-date" style="float: right;">
          {{post$.time_sent}}
        </span>
  </div>
  <p>
      {{post$.message}}
    </p>
</div>